.grid-container .icon-medium {
  font-size: medium;
}

.grid-container .mat-header-cell,
.mat-cell {
  text-align: center;
}

.grid-container .separator {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  position: absolute;
  right: 0;
}

.grid-container .disable {
  pointer-events: none;
  color: lightgray;
}

.grid-container .confirm {
  color: green !important;
}
