<table mat-table [dataSource]="dataSource" [hidden]="dataSource.data.length === 0 || hidden" class="grid-container">
  <ng-container *ngFor="let column of columnMetaData" [matColumnDef]="column.name">
    <th mat-header-cell *matHeaderCellDef [style.width.px]="column?.width"
      [ngStyle]="{position: column?.separator ? 'relative' : ''}">
      {{column.title | translate}}
      <span *ngIf="column?.separator" class="separator">&nbsp;</span>
    </th>
    <td mat-cell *matCellDef="let element; let rowIndex = index">
      <ng-container *ngIf="!column?.isEditable || selectedRowIndex !== rowIndex; else controls">
        {{element[column.name]}}
      </ng-container>

      <ng-template #controls>
        <ng-container [ngSwitch]="column?.type" [formGroup]="editableColFormGrp">
          <!--text Control-->
          <mat-form-field appearance="outline" *ngSwitchCase="columnType.TEXT" class="cell">
            <input matInput formControlName="{{column.name}}" required>
          </mat-form-field>

          <!--number Control-->
          <mat-form-field appearance="outline" *ngSwitchCase="columnType.NUMBER" class="cell">
            <input matInput type="number" formControlName="{{column.name}}" (keypress)="omitSpecialChar($event);" required>
          </mat-form-field>

          <!--date Control-->
          <mat-form-field appearance="outline" *ngSwitchCase="columnType.DATE" class="cell">
            <input matInput [matDatepicker]="picker" formControlName="{{column.name}}" [min]="column?.cellOption?.date?.min" [max]="column?.cellOption?.date?.max" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <!--date time control -->
          <mat-form-field appearance="outline" *ngSwitchCase="columnType.DATETIME" class="date-time-cell">
            <input matInput [ngxMatDatetimePicker]="picker1" formControlName="{{column.name}}"
              [min]="column?.cellOption?.dateTime?.min" [max]="column?.cellOption?.dateTime?.max" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker1 [showSeconds]="column?.cellOption?.dateTime?.showSeconds"
              [enableMeridian]="column?.cellOption?.dateTime?.enableMeridian">
            </ngx-mat-datetime-picker>
          </mat-form-field>

          <!--autocomplete control-->
          <mat-form-field appearance="outline" *ngSwitchCase="columnType.AUTOCOMPLETE" class="cell">
            <input matInput formControlName="{{column.name}}" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="autoCompleteDisplayFn">
              <mat-option *ngFor="let option of autoCompleteFilterOptions[column.name]"
                [matTooltip]="option?.description" [value]="option.id" class="normal-line-height">
                <h2 class="no-margin">{{option.id}}</h2>
                <p class="no-margin" [style.font-weight]="500">{{option?.description}}</p>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <!--dropdown control-->
          <mat-form-field appearance="outline" *ngSwitchCase="columnType.DROPDOWN" class="cell">
            <mat-select formControlName="{{column.name}}">
              <mat-select-trigger>
                {{editableColFormGrp.controls[column.name].value}}
              </mat-select-trigger>
              <mat-option *ngFor="let option of column!.cellOption!.dropDown" [matTooltip]="option?.description"
                [value]="option.id" class="normal-line-height">
                <h2 class="no-margin">{{option.id}}</h2>
                <p class="no-margin" [style.font-weight]="500">{{option?.description}}</p>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!--checkbox control-->
          <mat-checkbox formControlName="{{column.name}}" *ngSwitchCase="columnType.CHECKBOX">
          </mat-checkbox>

          <!--default control-->
          <mat-form-field appearance="outline" *ngSwitchDefault class="cell">
            <input matInput formControlName="{{column.name}}" required>
          </mat-form-field>
        </ng-container>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef>
      Action
    </th>
    <td mat-cell *matCellDef="let element; let rowIndex = index">
      <!--Before Action-->
      <button mat-icon-button *ngFor="let action of beforeAction" (click)="onAction.emit(element)">
        <mat-icon [style.color]="action?.color ? action.color : '#808080'" class="icon-medium" [matTooltip]="action.toolTip"> {{action.iconName}} </mat-icon>
      </button>

      <button mat-icon-button *ngIf="isEdit && selectedRowIndex !== rowIndex; else editRow"
        (click)="rowOpen(rowIndex, element)">
        <mat-icon style="color:#808080;" class="icon-medium" matTooltip="Edit">edit</mat-icon>
      </button>

      <ng-template #editRow>
        <button mat-icon-button (click)="inlineEditAction(element);" [disabled]="!this.editableColFormGrp.valid" [ngClass]="{disable: !this.editableColFormGrp.valid}">
          <mat-icon style="color:#808080;" class="icon-medium" [ngClass]="{confirm:this.editableColFormGrp.valid}" matTooltip="Confirm">check</mat-icon>
        </button>
        <button mat-icon-button (click)="inlineEditAction(element,hasCancel);">
          <mat-icon style="color:#808080;" class="icon-medium" matTooltip="Cancel">close</mat-icon>
        </button>
      </ng-template>

      <!--InBetween Action-->
      <button mat-icon-button *ngFor="let action of inbetweenAction" (click)="onAction.emit(element)">
        <mat-icon [style.color]="action?.color ? action.color : '#808080'" class="icon-medium" [matTooltip]="action.toolTip"> {{action.iconName}} </mat-icon>
      </button>

      <button mat-icon-button *ngIf="isDelete && selectedRowIndex !== rowIndex" (click)="inlineDeleteAction(element,rowIndex);">
        <mat-icon style="color:#ff0000;" class="icon-medium" matTooltip="Delete">delete</mat-icon>
      </button>

      <!--After Action-->
      <button mat-icon-button *ngFor="let action of afterAction" (click)="onAction.emit(element)">
        <mat-icon [style.color]="action?.color ? action.color : '#808080'" class="icon-medium" [matTooltip]="action.toolTip"> {{action.iconName}} </mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>