.grid-container .icon-medium {
  font-size: medium;
}

.grid-container .mat-header-cell,
.mat-cell {
  text-align: center;
}

.grid-container .separator {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  position: absolute;
  right: 0;
}

.grid-container .disable {
  cursor: no-drop;
}

.grid-container .confirm {
  color: green !important;
}

.grid-container .cell {
  width: 150px;
  height: 60px;
}

.grid-container .date-time-cell {
  width: 210px;
  height: 60px;
}

.no-margin {
  margin: 0;
}

.normal-line-height {
  line-height: normal !important;
}

td.mat-cell {
  padding: 0 5px;
}

.grid-container ::ng-deep .not-active .mat-checkbox-frame{
  border-color: red;
}

.grid-container ::ng-deep .not-active .mat-slide-toggle-thumb{
  background-color: red;
}
