<p>Grid Example:</p>

<mat-form-field appearance="fill">
  <mat-label>Change Grid Data</mat-label>
  <mat-select [(value)]="selectedData" (selectionChange)="onSelectionChange($event)">
    <mat-option *ngFor="let data of gridDataList" [value]="data">{{data.description}}</mat-option>
  </mat-select>
</mat-form-field>

<button mat-raised-button color="primary" (click)="gridRef.addInlineRow()" *ngIf="showAddRow">Add New Row</button>

<grid 
  [dataSource]="dataSource" 
  [column]="column" 
  [config]="tableConfig" 
  [updateRow]="updateRow"
  (onAction)="message($event)" 
  (onRowOpen)="message($event)" 
  (onRowClose)="message($event)" 
  (onRowConfirm)="onRowConfirm($event)"
  [deleteRow]="deleteRow" 
  (onRowDelete)="onRowDelete($event)" 
  [updateAutoComplete]="updateAutoComplete"
  (onAutoCompleteTextChange)="onAutoCompleteTextChange($event)"
  #gridRef>
  </grid>